<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Kundan Kumar!
  </h1>
</div>
<div>
      <img [src] = 'imagePath'/>
      <div [innerHtml]='badHtml'></div>
      <button type="button" name="button" [disabled]='isDisabled' >Click</button>
  </div>
`<div>
                  <h1>Hello {{title}}</h1>
                  <h2>{{'Page Header ' +pageHeader}}</h2>
                  <h2>{{'SumNumber ' + (10+20+30)}}</h2>
                  <h2>{{pageName ? pageName : ' Keshri' }}</h2>
                  <h2>FullName: - {{getFullName()}}</h2>
                  <img src = '{{imagePath}}'/>
                </div>
